html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 0.98em;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.coba {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.coba ::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
} 

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #fff;
}

.site-layout .site-layout-background {
  background: #1ebba3;
}

.site-layout-backgrounds {
  background: #fff;
}

.pembungkus-login {
  position: relative;
  top:100px;
  max-width: 500px; 
  margin: 0px auto 0px auto; 
  height: 390px;
  background: #1e94c2; 
  padding: 12px 20px 10px 20px; 
  box-sizing: border-box; 
  border: solid 1px #D3D3D3;
}

.pembungkus-form-login {
  margin: 30px auto 0px auto;
  width: 100%; 
  background: #4D4E4E; 
  padding: 20px; 
  box-sizing: border-box; 
  border-radius: 6px;
}

.tombol-login:hover{
  background-color: #03925e;
}

.tombol-login:active{
  transform: scale(0.9);
}

.tombol-login{
    width: 100%;
    color: #fff; 
    font-size: 1.1em; 
    padding: 6px 0px 8px 0px; 
    background: #1ebba3;
    border: none;
    outline: none;
}

.download-table-xls-button{
  background: white;
  height: 32px;
  border: 1px solid transparent;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  border-color: #d9d9d9;
  outline: 0;
}

.download-table-xls-button:hover{
  color: #24A0ED;
  border-color: #24A0ED;
}